/** Reset box sizing **/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

 /** UTILS **/

/* Classic container */
.container{
    width: 100%;
    max-width: 1070px;
    margin: 2px auto;
}
/*  container fluid */

.container-fluid{
    width: 100%;
    max-width: 100%;
    margin: 0;
}

/** ROW Flex **/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

/** COL (no-resizing)  flex **/
.col{
 flex-grow: 1;

}

[class*='col']{
    
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

/*! Flex  12 col layout system */

.col-12{
    width: calc(100%/12 * 12);
    max-width: calc(100%/12 * 12);
}
.col-11{
    width: calc(100%/12 * 11);
    max-width: calc(100%/12 * 11);
}
.col-10{
    width: calc(100%/12 * 10);
    max-width: calc(100%/12 * 10);
}
.col-9{
    width: calc(100%/12 * 9);
    max-width: calc(100%/12 * 9);
}
.col-8{
    width: calc(100%/12 * 8);
    max-width: calc(100%/12 * 8);
}
.col-7{
    width: calc(100%/12 * 7);
    max-width: calc(100%/12 * 7);
}

.col-6{
    width: calc(100%/12 * 6);
    max-width: calc(100%/12 * 6);
}
.col-5{
    width: calc(100%/12 * 5);
    max-width: calc(100%/12 * 5);
}
.col-4{
    width: calc(100%/12 * 4);
    max-width: calc(100%/12 * 4);
}
.col-3{
    width: calc(100%/12 * 3);
    max-width: calc(100%/12 * 3);
}
.col-2{
    width: calc(100%/12 * 2);
    max-width: calc(100%/12 * 2);
}
.col-1{
    width: calc(100%/12 * 1);
    max-width: calc(100%/12 * 1);
}
/** Utilities **/

/**  flex row align center **/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/**  flex row align start **/
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/**  flex row align  **/
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/** Floats**/
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

/** Fonts size**/
h1{
    font-size: 5em;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 3em;
}
h4{
    font-size: 2em;
}
