
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
  .lilypad{
      display: none;
  }
 }

@media (min-width: 576px) { 
  .lilypad{
      filter: opacity(0%);
      display:inline-flex;
  }

  .lilypad.visible{
    filter: opacity(100%);
    display:inline-flex;
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 .lilypad{
        filter: opacity(100%);
        display:inline-flex;
    }
 #pond3{
     order:1;
 }
 
 #loto1{
     order:1;
 }

 #grass5{
     order:-1;
 }

 .md-hidden{
    visibility: hidden;
 }

 .grass{
    background-color: rgb(59,121,73);
 }

}
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
